{
    "ecmaFeatures": {
        "modules": true,
        "spread" : true,
        "restParams" : true
    },
    "env" : {
        "browser" : true,
        "es6" : true
    },
    "rules" : {
        "no-unused-vars" : [2, {"vars": "all", "args": "none"}],
        "no-undef" : 2,
        "no-console": "off"
    },
    "parserOptions": {
        "sourceType": "module"
    }
}